<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Generated Receiving Memo</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- jQuery -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap JS (optional) -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!-- Favicons -->
    <link
      href="{{url_for('static', filename='assets/img/cake.jpg')}}"
      rel="icon"
    />
    <link
      href="{{url_for('static', filename='assets/img/apple-touch-icon.png')}}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{{url_for('static', filename='assets/vendor/aos/aos.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link
      href="{{url_for('static', filename='assets/css/style.css')}}"
      rel="stylesheet"
    />

    <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img
            src="{{url_for('static', filename='assets/img/cake.jpg')}}"
            alt=""
            class="img-fluid rounded-circle"
          />
          <h1 class="text-light"><a href="index.html">CHEDZ</a></h1>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li>
              <a href="/home" class="nav-link scrollto active"
                ><i class="bx bx-home"></i> <span>Home</span></a
              >
            </li>
            <li>
              <a href="/inventory" class="nav-link scrollto"
                ><i class="bx bx-package"></i> <span>Inventory</span></a
              >
            </li>
            <li>
              <a href="/employee" class="nav-link scrollto"
                ><i class="bx bx-user"></i> <span>Employees</span></a
              >
            </li>
            <li>
              <a href="/requisitions" class="nav-link scrollto"
                ><i class="bx bx-book-content"></i> <span>Requisitions</span></a
              >
            </li>
            <li>
              <a href="/vendors" class="nav-link scrollto"
                ><i class="bx bx-store-alt"></i><span>Vendors</span></a
              >
            </li>
            <li>
              <a href="/purchasing-order" class="nav-link scrollto"
                ><i class="bx bx-cart-alt"></i> <span>Purchase Orders</span></a
              >
            </li>
            <li>
              <a href="/delivery" class="nav-link scrollto"
                ><i class="bx bx-bus"></i><span>Deliveries</span></a
              >
            </li>
            <li>
              <a href="/report" class="nav-link scrollto"
                ><i class="bx bx-flag"></i><span>Reports</span></a
              >
            </li>
            <li>
              <a href="/logout" onclick="logout()" class="nav-link scrollto"
                ><i class="bx bx-power-off"></i><span>Logout</span></a
              >
            </li>
            <li>
              <br />
              <br />
              <br />
              <br />
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header Test Header-->
    <div class="container" style="width: 100%; margin-left: 180px">
      <main id="main" style="margin: 0">
        <!-- ======= Services Section ======= -->

        <div
          class="container yellow-container"
          style="width: 800px; padding-bottom: 60px"
        >
          <div class="section-title2">
            <div
              style="
                text-align: center;
                display: grid;
                grid-template-columns: 1fr auto;
              "
            >
              <h2>Receiving Memo</h2>
              <button
                id="btn_capture"
                type="button"
                onclick="captureAndConvertToPDF('main','ReceivingMemo-{{cur_date}}')"
                class="btn btn-success"
              >
                <i class="fa-solid fa-download"></i>
              </button>
            </div>
            <hr />

            <div class="generated-receiving-memo-container">
              <!-- CHEDZ BAKESHOP info -->
              <div class="chedz-container">
                <h5 style="font-weight: 700">CHEDZ BAKESHOP</h5>
              </div>

              <div class="info-container">
                <div class="label-containers">
                  <p>Address:</p>
                  <p>Email:</p>
                  <p>Telephone:</p>
                  <p>Mobile:</p>
                  <p>Website:</p>
                </div>
                <div class="label-containers">
                  <p>Salinas Drive, Lahug, Cebu City</p>
                  <p>cecilleannec@gmail.com</p>
                  <p>0322311168</p>
                  <p>09177230540</p>
                  <p>
                    <a href="https://www.chedzcakes.com"
                      >https://www.chedzcakes.com</a
                    >
                  </p>
                </div>
              </div>
              <hr />

              <!-- VENDOR info -->
              <div class="chedz-container">
                <h5 style="font-weight: 700">VENDOR</h5>
              </div>

              <div class="vendor-info-container">
                <div class="label-containers">
                  <p>Name:</p>
                  <p>Email:</p>
                  <p>Telephone:</p>
                </div>

                <div class="label-containers">
                  <p id="lblRMVENDADD">
                    {% if purchasing_orders
                    %}{{purchasing_orders[0].vnd_name}}{% endif %}
                  </p>
                  <p id="lblRMVENDEMAIL">
                    {% if purchasing_orders
                    %}{{purchasing_orders[0].vnd_email}}{% endif %}
                  </p>
                  <p id="lblRMVENDTELNO">
                    {% if purchasing_orders
                    %}{{purchasing_orders[0].vnd_contact}}{% endif %}
                  </p>
                </div>
              </div>
              <hr />

              <!-- Input letter container -->
              <div class="input-letter-container" style="padding-bottom: 60px">
                <div class="letter-info-container">
                  <div
                    class="label-containers"
                    style="
                      display: grid;
                      grid-template-columns: auto auto;
                      gap: 20px;
                    "
                  >
                    <p style="padding-top: 10px">Memo To:</p>
                    <input
                      type="email"
                      class="form-control"
                      id="txtboxMEMOTO"
                      placeholder="Name"
                      style="width: 300px; height: 45px"
                    />
                  </div>

                  <div
                    class="label-containers"
                    style="
                      display: grid;
                      grid-template-columns: auto auto;
                      gap: 55px;
                    "
                  >
                    <p style="padding-top: 10px">Date:</p>
                    <input
                      type="date"
                      class="form-control"
                      id="dateInputMEMO"
                      name="dateInput"
                      value="{{cur_date}}"
                      style="width: 300px; height: 45px"
                    />
                  </div>
                </div>
              </div>

              <!-- Body letter container -->
              <div class="body-letter-container">
                <div class="letter-salutation-container">
                  <div class="label-containers">
                    <p style="margin: 0; padding-top: 5px">Dear</p>
                  </div>

                  <div class="label-containers">
                    <input
                      type="email"
                      class="form-control"
                      id="txtboxDearName"
                      placeholder="Name"
                      style="width: 150px; height: 30px; width: 300px"
                    />
                  </div>

                  <div class="label-containers">
                    <p>,</p>
                  </div>
                </div>
              </div>

              <!-- Letter content -->
              <div class="letter-content">
                <p style="padding-top: 5px">
                  I am writing to confirm the receipt of the shipment from
                  <strong id="text_vendor_name"
                    >{% if
                    purchasing_orders%}{{purchasing_orders[0].vnd_name}}{% endif
                    %}</strong
                  >
                  on
                  <strong id="text_date">{{cur_date}}</strong>
                  I have personally checked and verified the items listed below.
                  The received items have been successfully added to our
                  inventory.
                </p>
              </div>

              <!-- PO table container -->
              <div class="po-table-container">
                <div style="text-align: left; margin-top: 0px">
                  <table id="hometable" class="table table-dark table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Type</th>
                        <th>Received</th>
                      </tr>
                      {% if purchasing_orders%} {% for request in
                      purchasing_orders %}
                      <tr>
                        <th class="tb-row">{{request.tb_item_id}}</th>
                        <th class="tb-row">{{request.item_name}}</th>
                        <th class="tb-row">{{request.ri_quantity}}</th>
                        <th class="tb-row">{{request.unit_name}}</th>
                        <th class="tb-row">{{request.item_type}}</th>
                        <th class="tb-row">{{request.di_quantity}}</th>
                      </tr>
                      {% endfor %}{% endif %}
                    </thead>
                    <tbody>
                      <!-- Table rows with data will be dynamically added here -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- End Services Section -->
      </main>
      <!-- End #main -->
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Chedz <strong><span>Cakes and Pastries</span></strong>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
          Designed by <a href="https://bootstrapmade.com/">Powerpuff Boys</a>
        </div>
      </div>
    </footer>
    <!-- End  Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{{url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js')}} "></script>
    <script src="{{url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/typed.js/typed.umd.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>
    <script
      src="https://kit.fontawesome.com/ebf71911d7.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
      integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Template Main JS File -->
    <script
      type="text/javascript"
      src="{{url_for ('static', filename = 'assets/js/main.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for ('static', filename = 'assets/js/service.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for ('static', filename = 'assets/js/employee.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for ('static', filename = 'assets/js/helper.js')}}"
    ></script>
  </body>
</html>
